{% load static %}

<!doctype html>
<html class="html">
    <head>
        <title>make it stick - Book Reviews</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body class="body">
        <main class="main">
            <header class="header">
                <div>My Book Reviews</div>
                <nav>
                    <a href="main.html">Back to list</a>
                    <a href="create.html">Create a review</a>              
                </nav>
            </header>
            <div class="detail-page-book-review">
                <img class="book-cover" src="{{ review.cover_image }}">
                <h2 class="book-title">
                  <a href="detail.html">{{ review.title }}</a>
                </h2>
                <div class="book-rating">{{ review.rating }} stars</div>
                <div class="book-authors">
                  {{ review.authors }}
                </div>
                <h3>Summary</h3>
                <p>
                  {{ review.summary }}
                </p>
                <h2>My review</h2>
                <p>
                  {{ review.review }}
                </p>
              </div>    
        </main>
    </body>
</html>