{% load static %}

<!doctype html>
<html class="html">
    <head>
        <title>Book Reviews</title>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
    </head>
    <body class="body">
        <main class="main">
            <header class="header">
                My Book Reviews
                <nav>
                    <a href="{% url "create_review" %}">Create a review</a>
                </nav>
            </header>
            <div class="main-page-book-review">
                <img class="book-cover" src="https://mks.io/make-it-stick.jpg ">
                <h2 class="book-title">
                    <a href="detail.html">make it stick</a>
                </h2>
                <div class="book-rating">
                    4 stars
                </div>
                <div class="book-authors">By Peter C. Brown, Henry L. Roediger III, Mark A. McDaniel</div>
                <h3>Summary</h3>
                <p>This is sentence 1. This is sentence 2. This is sentence 3. This is sentence 4. This is sentence 5. This is sentence 6.</p>
            </div>
            <div class="main-page-book-review">
                <img class="book-cover" src="https://mks.io/impractical-python-projects.jpg">
                <h2 class="book-title">
                    <a href="detail.html">Impractical Python Projects</a>
                </h2>
                <div class="book-rating">4.5 stars</div>
                <div class="book-authors">By Lee Vaughan</div>
                <h3>Summary</h3>
                <p>This is sentence 1. This is sentence 2. This is sentence 3. This is sentence 4. This is sentence 5. This is sentence 6.</p>
            </div>
        </main>
        <footer class="footer">
            <div>Copyright 2022 by Evan Wu</div>
            <p>This is my site that contains all of my book reviews that you can read to see if you'd like that book.</p>
        </footer>
    </body>
</html>