.html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body {
    margin: 0;
}

.header {
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    align-items: center;
}

.footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
}

.main {
    max-width: 800px;
    margin: auto;
}

.main-page-book-review {
    background-color: white;
    border: solid 1px lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
}

.book-cover {
    width: 200px;
    height: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}